<h3>Comparar Jogadores</h3>

<form (ngSubmit)="comparePlayers()" #compareForm="ngForm">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-6">
        <div class="form-group">
          <label for="accountId1">Jogador 1: </label>
          <input type="text" placeholder="Digite o ID" id="accountId1" name="accountId1" [(ngModel)]="accountId1" required>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="accountId2">Jogador 2: </label>
          <input type="text" placeholder="Digite o ID" id="accountId2" name="accountId2" [(ngModel)]="accountId2" required>
        </div>
      </div>
    </div>
  </div>
  <br>
  <button type="submit" [disabled]="compareForm.invalid">Comparar</button>
</form>
<br>

<h1>Partidas em comum</h1>

<form (ngSubmit)="comparePlayers()" #compareForm="ngForm">
  <!-- ... (mesmo código do passo 2) ... -->
</form>

<ul>
  <li *ngFor="let match of commonMatchDetails">
    <div>
      <strong>ID da partida:</strong> {{ match.match_id }}
    </div>
    <div>
      <strong>Duração:</strong> {{ match.duration }} seconds
    </div>
    <div>
      <strong>Vencedor:</strong> {{ match.radiant_win ? 'Radiant' : 'Dire' }}
    </div>
    <!-- Outras informações da partida -->
    <div *ngFor="let jogador of match.players">
      Jogador:  <strong>{{ jogador.personaname }} </strong> ID: <strong>{{ jogador.account_id}}</strong>
    </div>
    <hr>
    <br>
  </li>
</ul>
