p {
    font-size: 11px;
    
    margin: 0;
}

label {
    font-size: 12px;
}

input {
    font-size: 12px;
}

br {
    size: 0.6em;
}

button {
    font-size: 12px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

h3,h4 {
    margin-left: auto;
    margin-right: auto;
}

.btnNumero {
    font-size: 8px;
    padding: 0px 3px;
}