p {
    font-size: 18px;
    
    margin: 0;
}

label {
    font-size: 19px;
}

input {
    font-size: 19px;
}

br {
    size: 0.6em;
}

button {
    font-size: 19px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

h3,h4 {
    margin-left: auto;
    margin-right: auto;
}

.btnNumero {
    font-size: 13px;
    padding: 0px 3px;
}